A:hover {color:black;}
        
        
A:link {text-decoration: none; color: black；}
A:visited {text-decoration: none; color: black；}
A:active {text-decoration: none; color: black；}
A:hover {text-decoration: underline; color: black；}


a:link {text-decoration:none;color:rgb(204, 224, 255);}
a:visited {text-decoration:none;color:rgb(204, 224, 255);}

a {
    font-size: medium;
    font-weight: bold;
    font-family: Bahnschrift,exo,等线
}
p {
    font-size: medium;
    font-weight: bold;
    font-family: Bahnschrift,exo,等线
}
.mainbox{
    border:4px solid #3e3e3ea4;
        background: #3a3a3aa4;
        text-align: left;
        line-height: 30px;
        font-size: 14px;
        color:#dddddd;
        border-radius:10px;
}
.topbox{
    border:4px solid #3e3e3ea4;
        background: #3b3b3ba4;
        text-align: center;
        line-height: 30px;
        color:#dddddd;
        font-size: 14px;
        border-radius:10px;
}
.article {
    width: 97%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.articlebox{
    border:4px solid #3e3e3ea4;
    background: #3a3a3aa4;
    width: 82%;
    float:right;
    line-height: 30px;
    font-size: 14px;
    margin-top: 8;
    margin-bottom:10px;
    border-radius:10px;
}
.elecbookbox{
    border:4px solid #3e3e3ea4;
    background: #3a3a3aa4;
    float:top;
    line-height: 30px;
    font-size: 14px;
    margin-top: 8;
    margin-bottom:10px;
    border-radius:10px;
}
.footer{
    border:4px solid #3e3e3ea4;
    background: #3a3a3aa4;
    height: 15px;
    width: 100%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
body{
    color:#dddddd;
    z-index:1;
    background-size:100%;
    background-position: center;
}
.bg{
    z-index:-1;
    position: absolute;
    margin: auto;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cell{
    height: auto;
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    background-color: #00000021;
}
.cell::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    
    background-image: url('IMG_20210415_020746.png');
    filter: blur(3px) brightness(75%);
    -webkit-filter: blur(3px) brightness(75%);
    background-position: center;
}
button{
    border:4px solid #ffffffa4;
    background: #494949a4;
    border-radius:10px;
    color:rgb(204, 224, 255);
}